.contentx{
	display:flex;
	flex-direction:row;
}

.part1{
	width:600px;
	height:535px;
	background-color: white;
	border-right:1px solid #dadada;
}
.zoneT{
	width:600px;
	height:110px;
}

.part1 .img{
	width:100%;
	height:417px;
}
.zoneT .add{
	margin-left:74%;
}
.part2{
	margin:30px;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	width:490px;
	height:466px;
}

.part2 .desc{
	width:95%;
}