
.grid{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	font-family:'Roboto', sans-serif;
}

.wraping{
	display:inline-flex;
	flex-direction:column;
	align-items: center;
	text-align: center;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
}

.wraping h1{
	color:orange;
	margin:40px 0 40px 0;
}
.wraping h4{
	color:darkblue;
	margin:40px 0 40px 0;
}
.pose{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.newsl{
	display:flex;
	flex-direction:column;
	align-items: center;
	background-color: lightgrey;
}
.abonn{
	display:flex;
	flex-direction:column;
	align-items: center;
}
.abonn button{
	background-color:orange;
	color:white;
	font-family:'Roboto', sans-serif;
	border-style: none;
	align-items:center;
	width:70px;
	height:30px;
}
.reseaux{
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
	color:orange;
	width:40%;
	font-family:'Roboto', sans-serif;
}
.reseaux ul{
	display: flex;
	flex-direction:row;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	padding:0;
}

.ricon{
	color:black;
	font-size:20px;
}
.fa-facebook{
	font-size:29px;
}
.actualite{
	display: flex;
	flex-direction:column;
	align-items: center;
	width:100%;
}
.actu{
	width:90%;
	border:3px solid white;
	border-radius:3px;
	margin-bottom:5px;

	
}
