
.grid{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	border:2px solid black;
	margin-top:100px;
	font-family:'Roboto', sans-serif;
}
.wraping{
	display:inline-flex;
	flex-direction:column;
	align-items: center;
	border:2px solid blue;
	text-align: center;
	width:100%;
	height:110vh;
	display:flex;
	flex-direction:column;
	align-items: center;
}

.wraping h1{
	color:orange;
}
.pose{
	display:flex;
	flex-direction:row;
	justify-content: center;
	width:100%;
	border:2px solid pink;
}
.newsl{
	display:flex;
	flex-direction:column;
	align-items: flex-start;
	background-color: lightgrey;
	border:2px solid yellow;
}

.reseaux{
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
	color:orange;
	width:40%;
	font-family:'Roboto', sans-serif;
	border-top:2px solid #dadada;
}
.reseaux ul{
	display: flex;
	flex-direction:row;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	padding:0;
}

.ricon{
	color:black;
	font-size:20px;
}
.fa-facebook{
	font-size:29px;
}