.footer {
  display:flex;
  flex-direction:row;
/*  justify-content: space-around;
*/  align-items: center;
	width: 100%;
  height: 163px;
  font-family:'Roboto', sans-serif;
  background-color: #1b2f3f;
  box-shadow: -1px 0px 3px 0 rgba(0, 0, 0, 0.35);
  color:white;
}

.infog p{
	width: 200px;
  height: 10px;
  font-family:'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 300;
  margin-left:87px;
  margin-top:0;
  color: #fefefe;
}

.logo2{
  margin-left:87px;
  margin-top:20px;
	width: 195px;
  opacity:0.5;
}
.CGA ul{
  display:flex;
  flex-direction:row;
  list-style:none;
}
.CGA ul li{
  margin-left:20px;
}
.CGA{
  width:50%;
}
.fa-envelope{
  margin-left:20px;
  color:white;
  font-size:35px;
}
